/*----------------------------
----------------------------
******* SECTION HEADER   ********
---------------------------- 
----------------------------*/
header{
background: white;
    .container-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 10px 0px 10px;
        .container-logo{
            .logo{

            }
        }
        .nav-menu{
            
            ul{
                display: flex;
                justify-content: space-between;
                gap:40px;
                list-style-type: none;
                li{
                    color:green;
                }
            }
        }
        .btn{
            .btn-text{
                color: brown;
            }
        }
    }
}


/*----------------------------
----------------------------
******* SECTION HERO    ********
---------------------------- 
----------------------------*/
.section-hero{
    position: relative;
    .wrapper{

    }
    .container-hero{
        img{
            width: 100%;
        }
        .container-text{
            position: absolute;
            bottom:0;
            padding:15px;
            h1{ 
                text-shadow: 1px 2px 1px black;

            }
            h2{
                text-shadow: 1px 2px 1px black;
            }
        }
    }
}
/*----------------------------
----------------------------
******* SECTION HEADER   ********
---------------------------- 
----------------------------*/
.section-services{
    .wrapper{

    }
    h2{
        text-align: center;
        color: green;
    }
    .container-cards{
        display: flex;
        justify-content: space-evenly;
        .card{
            width: 300px;
            height:400px;
            background: white;
            padding:50px 20px 20px 20px;
            img{
                display: block;
                margin: 20px auto;
            }
            h2{
                
            }
            p{
                color:brown;
                text-align: center;
            }
        }
    }
}


/*----------------------------
----------------------------
******* SECTION FOOTER   ********
---------------------------- 
----------------------------*/

footer{
    width: 100vw;
    justify-content: center;
    padding:0px 20px 0px 20px;
    .container-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    .container-logo{
        display: flex;
        max-width: 150px;
        img{

        }
    }
    .container-menu{
        nav{
            ul{
                display: flex;
                list-style-type: none;
                gap:30px;
                li{
                }
            }
        }
    }
    .container-social{
        display: flex;
        gap:30px;
        img{
            
        }
    }
}
}