.section-slider{
    background: white;
    width: 100%;
    .container-img{
        width: 100%;
        img{
            position: relative;
            display: block;
            margin: auto;
            width: 100vw;
        }
        h2{
            font-size: 80px;
            position: absolute;
            bottom: 50px;
            transform: translateX(40%);
        }
    }
}

.section-img{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        display: block;
        width: 50%;
        margin: auto;
    }
}

/*----------------------------
----------------------------
******* SECTION HEADER   ********
---------------------------- 
----------------------------*/
header{
background: white;
position: absolute;
width: 100%;
top:24px;
z-index: 10;
left: 0;
    &.fixed{
        position: fixed;
        top:0;
    }
    .wrapper{
        width: 1208px;
        margin: auto;
    }
    .container-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 0px 10px 0px;
        .container-logo{
            .logo{

            }
        }
        .nav-menu{
            
            ul{
                display: flex;
                justify-content: space-between;
                gap:40px;
                list-style-type: none;
                li{
                    color:green;
                }
            }
        }
        .btn{
            .btn-text{
                color: brown;
            }
        }
    }
}


/*----------------------------
----------------------------
******* SECTION HERO    ********
---------------------------- 
----------------------------*/
.section-hero{
    position: relative;
    padding-top:100px;
    background: white;
    .wrapper{

    }
    .container-hero{
        img{
            width: 100%;
        }
        .container-text{
            position: absolute;
            bottom:0;
            padding:15px;
            h1{ 
                text-shadow: 1px 2px 1px black;

            }
            h2{
                text-shadow: 1px 2px 1px black;
            }
        }
    }
}
/*----------------------------
----------------------------
******* SECTION SERVICES   ********
---------------------------- 
----------------------------*/
.section-services{
    .wrapper{

    }
    h2{
        text-align: center;
        color: green;
    }
    .container-cards{
        display: flex;
        justify-content: space-evenly;
        .card{
            width: 300px;
            height:400px;
            background: white;
            padding:50px 20px 20px 20px;
            img{
                display: block;
                margin: 20px auto;
            }
            h2{
                
            }
            p{
                color:brown;
                text-align: center;
            }
        }
    }
}


/*----------------------------
----------------------------
******* SECTION FOOTER   ********
---------------------------- 
----------------------------*/

footer{
    width: 100vw;
    justify-content: center;
    padding:0px 20px 0px 20px;
    .container-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    .container-logo{
        display: flex;
        max-width: 150px;
        img{

        }
    }
    .container-menu{
        nav{
            ul{
                display: flex;
                list-style-type: none;
                gap:30px;
                li{
                }
            }
        }
    }
    .container-social{
        display: flex;
        gap:30px;
        img{
            
        }
    }
}
}